# Python artifacts
__pycache__
build
saltup.egg-info

# Editor settings
.vscode
*.code-workspace

# Custom files
.tmp
.aider*

# Test and sample models
test/ai/nn_manager/sample_models/*
test/tests_data/models/*
